.textareaContainer {
    display: flex;
    flex-direction: column;
}

.label{
    font-size: var(--fs-s);
}

.textarea{
    padding: var(--pd-xs);
    margin: var(--pd-xs) 0;
    border: .6px solid var(--color-gray);
    height: 4rem;
    border-radius: 7px;
    resize: none;
    font-size: var(--fs-s);
}
