.livraison {
    font-size: var(--fs-s);
    font-family: var(--ff-body2);
    color: var(--color-gray);
}

.address {
    /* font-size: var(--fs-xs); */
    font-family: var(--ff-body2);
    color: var(--color-gray);
}

.addressContainer {
    border: .6px solid var(--color-gray);
    border-radius: var(--br-m);
    padding: var(--sp-l);
}

.total {
    font-size: var(--fs-xs);
    font-family: var(--ff-body2);
    padding-top: var(--sp-4xl);
}


@media (min-width: 1063px) {

    .total {
        display: none;
    }
}