.cart {
    padding-bottom: var(--sp-xl);
}

.totalPrice {
    font-family: var(--ff-body2);
    font-size: var(--fs-s);
    margin-left: auto;
}

.topContainer {
    display: flex;
    padding-bottom: var(--sp-s);
}

.panier {
    font-family: var(--ff-body2);
    align-items: center;
}

.noProduct {
    padding: var(--sp-2xl) 0;
}

.link {
    border-bottom: .6px solid var(--color-heavy-gray);
    font-family: var(--ff-body);
}

.totalWrapper {
    display: flex;
    justify-content: flex-end;
    padding: var(--sp-s);
}

.buttonsWrapper {
    display: flex;
    justify-content: space-around;
    margin: var(--sp-l) 0 var(--sp-l) auto;
}


@media (max-width: 768px) {
    .buttonsWrapper {
        flex-direction: column;
        gap: var(--sp-l);
    }
}
