.gridContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4rem;
    margin: 2rem auto 3rem;
}

.title{
    padding: var(--pd-s) 0;
    font-size: var(--fs-2xl);
}

.thema{
    font-size: var(--fs-s);
}
.img{
    margin-bottom: .5em;
}

.detailContainer{
    display: flex;
    align-items: center;
    width: fit-content;
    padding-bottom: 3px
}
.detail{
    font-family: var(--ff-body2);
    font-weight: var(--fw-light);
    font-size: var(--fs-xs);
    letter-spacing: var(--ls-m);
    padding-right: 2px;
}

.arrow{
    width: var(--arr);
}

@media (max-width: 768px) {
    .gridContainer {
        grid-template-columns: 1fr;
    }
}