.cardContainer {
    background-color: var(--color-white);
    display: flex;
}

.descriptionContainer {
    display: flex;
    flex: 1;
    align-items: center;
}

.titleWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1em;
    flex:1
}
