.whiteBg{
    background-color: var(--color-white);
    border: .6px solid var(--color-heavy-gray);
}
.grayBg{
    background-color: var(--color-light-gray);
}

.cardContainer {
    display: flex;
    margin-bottom: var(--pd-s);
}

.descriptionContainer {
    display: flex;
    flex: 1;
    align-items: center;
}

.titleWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap:var(--pd-s);
    flex:1;
    padding: var(--pd-s);
}

.name{
    font-size: var(--fs-s);
    font-family: var(--ff-body2);
    line-height: var(--lh-m);
}

.quantity, .price {
    font-family: var(--ff-body2);
    font-size: var(--fs-s);
}

.quantity{
    color: var(--color-gray);
    font-size: var(--fs-xs);
}

.price {
    padding: var(--pd-s);
}

.x{
    padding: var(--pd-m);
}

.img {
    width: 25%;
    height: auto;
    object-fit: cover;
    padding: var(--pd-s);
}