.gridContainer {
    display: grid;
    grid-template-areas: "img txt"
        "connectedTxt .";
}

.txt {
    grid-area: txt;
    align-self: center;
    line-height: var(--lh-m);
    padding: var(--pd-xl);
}

.img {
    grid-area: img;
}

.connectedTxt {
    grid-area: connectedTxt;
    font-family: var(--ff-link);
    font-size: var(--fs-xs);
    padding: var(--pd-m) 0;
}

@media (max-width: 768px) {
    .gridContainer {
        grid-template-areas: "img img"
            "connectedTxt connectedTxt"
            "txt txt"
    }

    .txt {
        padding: var(--pd-xl) 0;
    }
    
    .connectedTxt{
        text-align: center;
    }
}