.txt {
    line-height: var(--lh-m);
    padding: var(--sp-xl) 0;
}

.img0, .img2{
    padding-bottom: var(--sp-xl);
    padding-left: var(--sp-5xl);
    padding-right: var(--sp-4xl);
}

.img1{
    padding-bottom: var(--sp-xl);
    padding-right: var(--sp-5xl);
    padding-left: var(--sp-4xl);
}

