.layout{
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.section{
    width: min(1100px, 90%);
    margin: auto;
    flex: 1;
}

.headerContainer{
    display: flex;
    align-items: center;
    padding: var(--pd-2xl) 0;
}

.logo{
    flex: 1;
    text-align: left;
}

.nestedLayout {
    margin-left: auto;
}
