.layout{
    display: flex;
    flex-direction: column;
}

.section{
    flex: 1;
}

.headerContainer{
    display: flex;
    align-items: center;
    width: min(1100px, 90%);
    margin: 2em auto;
}

.logo{
    flex: 1;
    text-align: left;
}

.nestedLayout {
    margin-left: auto;
}

