.title {
    font-family: var(--ff-body2);
    padding:var(--sp-xl) 0 var(--sp-2xl) 0;
    font-weight: bolder;
}

.subTitle {
    font-family: var(--ff-body2);
    padding: 0 0 var(--sp-l) 0;
    font-size: var(--fs-s);
}

.recapSection {
    margin-top: var(--sp-2xl);
}

.recapTitle {
    font-family: var(--ff-body2);
    margin-bottom: var(--sp-m);
    font-size: var(--fs-s);
}

.btn {
    margin: var(--sp-4xl) 0;
}

.formWrapper{
    width: 100%;
}

.layoutContainer {
    display: flex;
    gap: var(--sp-4xl);
}



@media (max-width: 1005px) {
    .recapSection {
        display: none;
    }
}