.img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius:var(--br-l);
    aspect-ratio: 4/3;
}


.imageListItem {
    margin: var(--sp-l) var(--sp-m) var(--sp-l) 0;
}

.des{
    padding: var(--sp-l) 0 var(--sp-2xl) 0;
    line-height: var(--lh-m);
}