.img {
    width: 100%;
    height: auto;
}

.infoContainer {
    display: flex;
    gap: var(--sp-xl);
    padding-bottom: var(--sp-l);
}

.mainInfo {
    display: flex;
    flex-direction: column;
}

.btn {
    width: fit-content;
}

.gap {
    flex: 1;
}

.title {
    width: fit-content;
    margin-bottom: var(--sp-xl);
    padding-bottom: var(--sp-xs);
}

.des {
    font-size: var(--fs-s);
    line-height: var(--lh-m);
    font-family: var(--ff-body2);
}

.price {
    font-family: var(--ff-body2);
    font-size: var(--fs-s);
    padding: var(--sp-2xl) 0;
}


.stock {
    color: var(--color-red);
    padding: var(--sp-m) 0;
    font-family: var(--ff-body2);
    font-size: var(--fs-xs);
}

.btnContainer {
    display: flex;
    gap: var(--sp-xl);
    justify-content: center;
}

.txt {
    font-size: var(--fs-m);
    padding: var(--sp-xl) 0;
    text-align: center;
}

@media (max-width: 768px) {
    .btnContainer {
        flex-direction: column;
    }

    .btnContainer {
        width: auto
    }
}

@media (max-width: 768px) {
    .infoContainer {
        display: block;
    }

    .mainInfo {
        padding: var(--sp-l) 0;
    }

    .btn {
        width: auto;
        text-align: center;
    }
}