.mainContainer {
    width: 60%;
    margin: 0 auto 3rem;
    padding: 2em;
    background-color: var(--color-gray);
}

.img {
    margin-bottom: .5em;
}

.intro {
    padding: var(--pd-s) 0;
    line-height: var(--lh-m);
    font-size: var(--fs-s);
}