.mainContainer {
    width: 70%;
    margin: 0 auto 3rem;
    padding: 2em;
    background-color: var(--color-gray);
}

.img {
    margin-bottom: .5em;
}

.intro {
    padding: var(--pd-l) 0;
    line-height: var(--lh-m);
}