.mainContainer {
    width: 60%;
    margin: 0 auto 3rem;
    padding: 2em;
    background-color: var(--color-light-gray);
}

.img {
    margin-bottom: .5em;
}

.intro {
    padding-top: var(--sp-s);
    line-height: var(--lh-m);
    font-size: var(--fs-s);
}

@media (max-width: 768px) {
    .intro {
        text-align: center;
    }
}