.authenticatedContainer {
    display: flex;
    align-items: center;
    gap: 1em;
    padding-top: 3em;
    padding: 4em 0;
}

.desktopMenuContainer {
    border-right: .6px solid var(--color-heavy-gray);
    width: 25%;
    padding-bottom: 7em;
    display: flex;
    flex-direction: column;
    gap: var(--sp-m);
}

.link {
    font-size: var(--fs-xs);
    font-family: var(--ff-body2);
        width: fit-content;
}

.link:hover {
    border-bottom: .6px solid var(--color-heavy-gray);
    /* width: fit-content; */
}

.active {
    border-bottom: .6px solid var(--color-heavy-gray);
}

.deconnexion {
    color: var(--color-red);
    font-size: var(--fs-xs);
    font-family: var(--ff-body2);
}

.children {
    margin: auto;
}

@media (max-width: 768px) {
    .desktopMenuContainer {
        display: none;
    }
}