.gridContainer {
    display: grid;
    grid-template-areas: "img img"
                          "author txt";
    grid-gap: var(--sp-l);
    padding-bottom: var(--sp-l);
}

.img {
    grid-area: img;
}

.author {
    grid-area: author;
    line-height: var(--lh-m);
    font-family: var(--ff-link);
    font-size: var(--fs-xs);
    padding-right: var(--sp-xl);
}

.txt {
    grid-area: txt;
    line-height: var(--lh-m);
}

@media (max-width: 768px) {
    .gridContainer {
        grid-template-areas: "img img"
                             "author ."
                             "txt txt";
    }
}