.form{
    display: flex;
    gap: 5em;
}

.formContainer{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 1em;
}


.recapSection{
    border: .6px solid var(--color-heavy-gray);
    width: 35%;
    margin-top: 7em;
}
.civilite {
    font-size: var(--fs-s);
    padding-bottom: var(--pd-s);
}

.radio {
    display: flex;
    gap: var(--pd-m);
}

.title {
    font-family: var(--ff-body2);
    padding: var(--pd-l) 0;
    font-weight: bolder;
}

.subTitle {
    font-family: var(--ff-body2);
    padding: 0 0 var(--pd-l) 0;
    font-size: var(--fs-s);
}

@media (max-width: 768px) {
    .recapSection {
        display: none;
    }
}
