/* .civilite {
    font-size: var(--fs-s);
    padding-bottom: var(--sp-s);
    margin-top: var(--sp-em-m);
    font-family: var(--ff-body2);
}

.radio {
    display: flex;
    gap: var(--sp-m);
}

.name,
.address,
.ville,
.country,
.tel {
    display: flex;
    gap: 2em;
}

@media (max-width: 768px) {

    .name,
    .address,
    .ville,
    .country,
    .tel {
        display: block;
    }
} */