.section{
    width: min(1100px, 90%);
    margin: auto;
    border: 1px solid black;
}

.heading{
    font-family: var(--ff-heading);
    font-size: clamp(1.5rem, 4vw, 2.8rem);
}

.thema{
    font-size: clamp(0.7rem, 3vw, 1.2rem);
    margin: 2em;
}

.title{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.connectedTxt{
    font-family: var(--ff-link);
}


