.heading{
    font-family: var(--ff-heading);
    font-size: var(--fs-3xl);
    padding-bottom: var(--sp-l);
    text-align: center;
}

.thema{
    font-size: var(--fs-l);
    padding: var(--sp-xl);
    text-align: center;
}

.title{
    display: flex;
    flex-direction: column;
    align-items: center;
}