.modal {
    margin: auto;
    padding: var(--sp-2xl);
    border: none;
}


.x {
    display: flex;
    justify-content: flex-end;
}

@media (max-width: 768px) {

    .modal {
        width: 70%;
        height: 80%;
    }
}