.modal {
    margin: auto;
    padding: var(--pd-2xl);
    border: none;
}

.btnContainer{
    display: flex;
    gap: var(--pd-xl);
}

.txt{
    font-size: var(--fs-m);
    padding: var(--pd-xl) 0;
    
}

.x{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    width: var(--icon);
}

/* .icon{
    width: var(--icon);
} */

@media (max-width: 768px) {
    .btnContainer {
        flex-direction: column;
    }
    .btnContainer .btn{
        width: auto
    }
}