.iconContainer .icon {
    width: var(--icon);
    height: auto;
    /* maintain aspect ratio */
}

.iconContainer {
    display: flex;
    gap: var(--sp-m);
}


/* ===== dropdown ===== */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn {
    border: none;
    cursor: pointer;
}

/* Single column layout */
.dropdownContent {
    display: none;
    position: absolute;
    background-color: var(--color-white);
    min-width: 160px;
    z-index: 1;
    grid-template-columns: 1fr;
    border: .6px solid var(--color-heavy-gray);
    right: 0;
}

.dropdownContent a {
    padding: 1em 1.2em;
    display: block;
}

.dropdownContent a:hover {
    background-color: var(--color-pink);
}

/* Show the dropdown on hover */
.dropdown:hover .dropdownContent {
    display: grid;
}

.order {
    border-bottom: .6px solid var(--color-heavy-gray);
}

.signOut {
    color: var(--color-red);
}

.login,
.me,
.cart,
.order,
.signOut {
    font-family: var(--ff-body2);
    font-size: var(--fs-xs);
}