@import url('https://fonts.googleapis.com/css2?family=Baskervville:ital@0;1&family=Comfortaa:wght@300..700&family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=Libre+Caslon+Text:ital,wght@0,400;0,700;1,400&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    /* colors */
    --color-white: #FFFFFF;
    --color-black: #000000;
    --color-heavy-gray: #202D2E;
    --color-gray: #F3F3F3;
    --color-pink: #F6F0F0;
    --color-alert: #F22929;
    --color-disabled: #808080;

    /* font-family */
    --ff-title: "Libre Caslon Text", serif;
    --ff-heading: "Comfortaa", sans-serif;
    --ff-link: "Courier Prime", monospace;
    --ff-body:"Baskervville", serif;
    --ff-body2: "Noto Sans", sans-serif;

    /* font-size */
    --fs-logo: clamp(0.4rem, .9vw + 1rem, 1.7rem);
    --fs-intro: clamp(0.7rem, 3.3vw, 1rem);
    --fs-title: clamp(1rem, 3.3vw, 1.3rem);
    --fs-thema: clamp(0.5rem, 3vw, 0.9rem);
    --fs-detail: clamp(.6rem, 1.3vw, .8rem);
    /* font-weight */
    --fw-light: 300;
    --fw-medium: 400;

    /* letter-spacing */
    --ls-light: .1rem;
    --ls-medium: .2rem;

}

/* === normalize === */
*,
body {
    padding: 0;
    margin: 0;
    list-style: none;
    font-family: var(--ff-body);
    font-weight: var(--fw-light);
    color: var(--color-heavy-gray);
    letter-spacing: var(--ls-light);
}

button {
    all: unset;
    cursor: pointer;
}

img {
    display: block;
    max-width: 100%;
}

a {
    color: inherit;
    text-decoration: none;
    font-family: var(--ff-link);
}

/* === custum === */
.DefaultButton{
    padding: .8em 1.8em;
    font-family: var(--ff-body2);
    border: 1px solid var(--color-heavy-gray);
    font-size:var(--fs-300);
    cursor: pointer;
}

.DefaultButtonDark{
    padding: .8em 1.8em;
    font-family: var(--ff-body2);
    background-color: var(--color-heavy-gray);
    border: 1px solid var(--color-heavy-gray);
    color: var(--color-white);
    font-size: var(--fs-300);
    cursor: pointer;
}

.Link {
    border-bottom: 1px solid var(--color-heavy-gray);
}

.Logo{
    font-family: var(--ff-title);
    font-size: var(--fs-logo); 
    letter-spacing: var(--ls-medium);
}

/* Image classes */

.Horizontal_Full {
    max-width: 100%;
}

.Horizontal_Medium {
    max-width: 50%;
}

.Horizontal_Small {
    max-width: 30%;
}

.Vertical_Full {
    max-width: 40%;
}

.Vertical_Medium{
    max-width: 30%;
}

.Vertical_Small {
    max-width: 20%;
}