@import url('https://fonts.googleapis.com/css2?family=Baskervville:ital@0;1&family=Comfortaa:wght@300..700&family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=Libre+Caslon+Text:ital,wght@0,400;0,700;1,400&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {

    /* ===== colors ===== */
    --color-white: #FFFFFF;
    --color-black: #000000;
    --color-heavy-gray: #202D2E;
    --color-gray: #F3F3F3;
    --color-pink: #F6F0F0;
    --color-red: #F22929;
    --color-disabled: #808080;

    /* ===== font-family ===== */
    --ff-title: "Libre Caslon Text", serif;
    --ff-heading: "Comfortaa", sans-serif;
    --ff-link: "Courier Prime", monospace;
    --ff-body: "Baskervville", serif;
    --ff-body2: "Noto Sans", sans-serif;

    /* ===== font-size ===== */

    /* title in [postId] or shop title */
    --fs-3xl: clamp(1.2rem, 4vw, 2.3rem);

    /* in products page cards */
    --fs-2xl: clamp(1rem, 3.3vw, 1.3rem);

    /* logo */
    --fs-xl: clamp(1rem, 4.3vw, 1.2rem);

    /* fs in [postId] page */
    --fs-l: clamp(0.8rem, 2vw, 1.2rem);

    /* contents of posts */
    --fs-m: clamp(1rem, 3.3vw, 1.1rem);

    /* posts page */
    --fs-s: clamp(0.8rem, 3vw, 0.9rem);

    /* 'voir plus' button & connectedTxt*/
    --fs-xs: clamp(.7rem, 1.3vw, .8rem);

    /* in products page, mainProduct container*/
    --fs-2xs: clamp(.4rem, 1vw, 0.7rem);

    /* ===== font-weight ===== */
    --fw-light: 300;
    --fw-regular: 400;

    /* ===== letter-spacing ===== */
    --ls-s: .1rem;
    --ls-m: .2rem;

    /* ===== padding ===== */
    --pd-xs: clamp(.3em, 1vw, .5em);
    --pd-s: clamp(8px, 2vw, 16px);
    --pd-m: clamp(.5em, 1vw, 1em);
    --pd-l: clamp(.5em, 3vw, 2em);
    --pd-xl: clamp(.7em, 2vw, 2em);
    --pd-2xl: clamp(1em, 4vw, 5em);
    /* layout6 */
    --pd-4xl: clamp(2em, 6vw, 5em);
    --pd-5xl: clamp(3em, 16vw, 13em);

    /* ===== arrow ===== */
    --arr: clamp(6px, 2vw, 12px);
    --arr-back: clamp(.8rem, 2vw, 1rem);

    /* ===== line-height ===== */
    /* intro in card */
    --lh-s :clamp(131%, 2vw, 142%);
    --lh-m: clamp(160%, 4vw, 200%);

    /* ===== icon ===== */
    --icon: clamp(20px, 3vw, 24px);
}


/* ===== normalize ===== */
*,
body {
    padding: 0;
    margin: 0;
    list-style: none;
    font-family: var(--ff-body);
    font-weight: var(--fw-light);
    font-size: var(--fs-m);
    color: var(--color-heavy-gray);
    letter-spacing: var(--ls-s);
    line-height: var(--lh-s);
}

button {
    all: unset;
    cursor: pointer;
}

img {
    display: block;
}

a {
    color: inherit;
    text-decoration: none;
    font-family: var(--ff-link);
}

/* === custum === */
.bgColor-default {
    background-color: transparent;
}

.bgColor-404 {
    background-color: var(--color-pink);
}

.DefaultButton {
    padding: .8em 1.8em;
    font-family: var(--ff-body2);
    border: .6px solid var(--color-heavy-gray);
    background-color: var(--color-white);
    font-size: var(--fs-xs);
    cursor: pointer;
}

.DefaultButtonDark {
    padding: .8em 1.8em;
    font-family: var(--ff-body2);
    border: .6px solid var(--color-heavy-gray);
    background-color: var(--color-heavy-gray);
    color: var(--color-white);
    font-size: var(--fs-xs);
    cursor: pointer;
}

.Link {
    border-bottom: .5px solid var(--color-heavy-gray);
}

.Logo {
    font-family: var(--ff-title);
    font-size: var(--fs-xl);
    letter-spacing: var(--ls-m);
}

.Heading {
    font-size: var(--fs-3xl);
    font-family: var(--ff-heading);

}

/* Image classes */

/* .Horizontal_Full {
    aspect-ratio: 3/2;
}

.Horizontal_Medium {
    aspect-ratio: 3/2;
}

.Horizontal_Small {
    aspect-ratio: 3/2;
}

.Vertical_Full {
    aspect-ratio: 2/3;
}

.Vertical_Medium{
    aspect-ratio: 2/3;
}

.Vertical_Small {
    aspect-ratio: 2/3;
} */