.gridContainer{
    display: grid;
    grid-template-areas: "verticalImg smallImg1"
                         "verticalImg smallImg2";
    grid-gap: var(--pd-grid-card-s);
    padding-bottom :var(--pd-grid-card-s);
}

.verticalImg{
    grid-area: verticalImg;
}

.smallImg1 {
    grid-area: smallImg1;
}

.smallImg2 {
    grid-area: smallImg2;
}

.img{
    object-fit: cover;
    height: 100% !important;
}